/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;
    color: #292c3c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    position: relative;
    height: 300px; /* Adjust the height of the header as needed */
    overflow: hidden;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.banner h1 {
    font-size: 2em;
    color: #fff;
}

.logo img {
    width: 150px; /* Increased logo size */
}

/* Section Styles */
section {
    margin-bottom: 40px;
}

/* Promo Video Styles */
.promo-video iframe {
    width: 75%;
    height: 500px;
}

/* Review Styles */
.review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-content {
    flex: 1;
}

.review-text {
    font-style: italic;
    margin-bottom: 5px;
}

.review-author {
    font-weight: bold;
}

/* Info Box Styles */
.info-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #292c3c;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.office-images .inside-office .image-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Outside Office Styles */
.outside-office {
  margin-bottom: 40px;
}

.outside-office-content {
  text-align: left; /* Align text to the left */
}

.outside-office-content h2 {
  margin-bottom: 20px;
}

.outside-office-content .image-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.outside-office-content address {
  font-style: normal;
  margin-bottom: 10px;
}

.outside-office-content iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  display: block;
}

  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-member {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    text-align: center;
  }
  .team-member img {
    width: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .team-member:hover img {
    transform: scale(1.1);
  }
