/* CSS styles */

/* Adjustments for the banner and logo-name */
.banner {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
}

.logo-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-name img {
  width: 100px;
}

.logo-name h1 {
  color: #fff;
  font-size: 2em;
  margin-top: 10px;
}

/* Rest of your CSS styles */
body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
    color: #292c3c; /* Text color */
}

body {
    background-color: #f4f4f4; /* Background color */
    margin: 0;
    padding: 0;
}

header {
    background-color: #292c3c; /* Header background color */
    text-align: center;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Add your additional CSS styles here */
